{% extends "base.html" %}
{% block content %}

    {% if category %}
    <h1>{{category.name}}</h1>
    {% endif %}
    
    {% for product in products %}
        <div class="product">
            <img src="{{ url_for('static', path='images/product.png') }}">
            <div class="product-title"><a href="http://127.0.0.1:8000/products/detail/{{product.id}}">{{ product.name }}</a></div>
            <div class="product-description">Desription: {{ product.description }}</div>
            <div class="product-price">Price: {{ product.price }}$</div>
        </div>
    {% endfor %}

    <script>
        function myFunction() {
          alert("Added to cart!");
        }
    </script>
{% endblock %}