
/* Reset some default styles */
body, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Navigation styles */
nav {
  background-color: #555;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Main content styles */
.container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Product listing styles */
.product {
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.product img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  object-fit: cover;
}

.product-image img {
  max-width: 400px;
  max-height: 400px;
}


.product-info {
  flex-grow: 1;
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555555;
}

.add-to-cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #555;
}

.quantity {
  margin-bottom: 20px;
}

.quantity label {
  font-weight: bold;
}

.quantity input {
  width: 60px;
  padding: 5px;
}