{% extends "base.html" %}
{% block content %}
    <h1>Users: </h1>
    {% for user in users %}
        <div class="product">
            <img src="" alt="User{{user.id}}.png">
            <div class="product-info">
            <div class="product-title">ID: {{ user.id }}, Username: {{ user.username }}</div>
            <div class="product-description">Email: {{ user.email }}</div>
            <div class="product-price">Registered: {{ user.registration_timestamp }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
